
.navbar{
    overflow: auto;
    background-color: #555;
}
.navbar p {
    float: left;
    text-align: center;
    padding: 12px;
    color: rgb(233, 37, 37);
    text-decoration:double
    
  }
  .navbar p {
    float: none;
    display: block;
  
  }